/* Styles for the slideshow container */
.slideshow-container {
    display: flex;
    overflow: hidden;
    position: relative;
}

/* Styles for individual slides */
.slide {
    flex: 0 0 100%;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    padding: 0;
    max-width: 75%;
    min-width: 75%;
    /** Translate x by 12.5% **/
    transform: translateX(17.5%);
}

/* Styles for the slideshow navigation buttons */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}